html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/************ Specific Stylings ************/

.header {
  padding: 48px 16px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.733);
}

.main {
  padding: 16px;
  /* If the screen is too wide, the content gets hard to read. This centers it using the margin.*/
  max-width: 800px;
  margin: 0 auto;
}

/*** Spacing between articles & border above ***/
.main > * + * {
  margin-top: 50px;
}

.main > * + * {
  border-top: solid #aaa;
}

.main > *:first-child {
  border-top: none;
}

/*** Navigation bar ***/
.navbar {
  padding: 5px 10px;
  color: dodgerblue;
}

.navbar:hover {
  color: limegreen;
}

.navbar:active {
  color: hotpink;
}

/*** Spaces between navigation ***/
.navbar + .navbar {
  margin-left: 30px;
}

::selection {
  background-color: black;
  color: antiquewhite;
}

.job::after {
  content: " 😋";
}

.experience-heading {
  display: inline-block;
}

.experience-heading {
  display: inline-block;
}
