html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  --page-background-color: white;
  --page-text-color: black;
  --theme-color: rgba(12, 193, 181, 1);
  --accent-color: teal;
  --selection-color: hotpink;
}

/*** Dark scheme turns colors around ***/
@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/************ Specific Stylings ************/

.header {
  padding: 3rem 1rem;
  top: 3.5px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(153, 227, 222, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 70%,
    rgba(153, 227, 222, 1) 100%
  );
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.heading-title {
  font-size: 1em;
}

.job {
  font-size: 0.25em;
}

.main {
  padding: 0 1rem;
  /* If the screen is too wide, the content gets hard to read. This centers it using the margin.*/
  max-width: 70ch;
  margin: 0 auto;
}

/*** Spacing between articles, border above & padding to left side ***/
.main > * {
  padding-left: 1rem;
}

/*** Lines between articles ***/
.main > * + * {
  margin-top: 3rem;
  border-top: solid var(--theme-color);
}

.main > *:first-child {
  border-top: none;
  _padding-left: 1rem;
}

.main-headings {
  position: relative;
  left: -1rem;
}

/******************* Header *******************/
/*** Navigation bar ***/
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** From medium breakpoint on, nav links are horizontally ***/
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }

  /*** Spaces between navigation ***/
  .navbar + .navbar {
    margin-left: 2rem;
  }
}

.navbar {
  padding: 0.25rem 0.5rem;
  color: var(--theme-color);
  transition: color 1s;
}

.navbar:hover {
  color: var(--accent-color);
}

/*.navbar:focus {
  outline-color: var(--selection-color);
  outline-style: dotted;
}
*/

.navbar:active {
  color: var(--selection-color);
}

::selection {
  background-color: black;
  color: antiquewhite;
}

.job::after {
  content: " 😋";
}

/***** Job Experience Flexbox ******/
/* Display job title & time span vertically by default */
.experience-flexbox {
  display: flex;
  flex-direction: column;
}

/* From medium breakpoint on: display job title time span horizontally */
@media screen and (min-width: 768px) {
  .experience-flexbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

/************************ Contact **********************/
.contact-link {
  color: var(--theme-color);
  transition: color 0.5s ease-in-out;
}
.contact-link:hover {
  color: var(--accent-color);
}

.contact-link:active {
  color: var(--selection-color);
}

/**** Hire me button ****/
.hire-me-button {
  position: absolute;
  right: 2rem;
  top: 1rem;
  color: white;
  padding: 0.4rem;
  opacity: 0.7;
  border-radius: 0.4rem;
  background-color: var(--theme-color);
  _transform-origin: top right;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.hire-me-button:hover {
  transform: scale(1.2);
  opacity: 1;
}

.hire-me-button:active {
  transform: scale(1);
}

/******** Media behavior & breakpoints for screen and printer **********/
/*** Space above articles inreases with min-width 768px ***/
@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

/*** Hire me button fixed on big screen ***/
@media screen and (min-width: 992px) {
  .hire-me-button {
    position: fixed;
    top: 4rem;
  }
}

/*** Two column layout of articles via grid ***/
@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: start end;
  }

  .main-article-content {
    padding-top: 3rem;
  }
}

/*** Displays on printers ***/
@media print {
  .navigation {
    display: none;
  }

  .hire-me-button {
    display: none;
  }
}

/*********** Footer *********/
.site-footer {
  margin-top: 3rem;
  padding: 2rem;
  top: 3.5px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(153, 227, 222, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 70%,
    rgba(153, 227, 222, 1) 100%
  );
}
