html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/************ Specific Stylings ************/

.header {
  padding: 48px 16px;
  top: 50px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.733);
  position: relative;
}

.main {
  padding: 0 16px;
  /* If the screen is too wide, the content gets hard to read. This centers it using the margin.*/
  max-width: 800px;
  margin: 0 auto;
}

/*** Spacing between articles, border above & padding to left side ***/
.main > * {
  padding-left: 20px;
}

.main > * + * {
  margin-top: 50px;
  border-top: solid #aaa;
}

.main > *:first-child {
  border-top: none;
  padding-left: 20px;
}

.main-headings {
  position: relative;
  left: -20px;
}

/******************* Header *******************/
/*** Navigation bar ***/
.navbar {
  padding: 5px 10px;
  color: dodgerblue;
}

.navbar:hover {
  color: limegreen;
}

.navbar:active {
  color: hotpink;
}

/*** Spaces between navigation ***/
.navbar + .navbar {
  margin-left: 30px;
}

::selection {
  background-color: black;
  color: antiquewhite;
}

.job::after {
  content: " 😋";
}

.experience-heading {
  display: inline-block;
}

.experience-heading {
  display: inline-block;
}

/**** Hire me button ****/
.hire-me-button {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background-color: teal;
  padding: 5px;
  opacity: 0.9;
  border-radius: 5px;
}
